In [1]:
import pandas as pd
import scores as scores
from imblearn.over_sampling import RandomOverSampler
from imblearn.over_sampling import SMOTE
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

df = pd.read_csv ('raw_dataset.csv')
df.head()

,name,commit,number_of_authors,age,number_unique_changes,size,lines_added,lines_deleted,buggy
0,src/test/org/apache/commons/cli/HelpFormatterE...,aae50c585ec3ac33c6a9af792e80378904a73195,1,0,1,118,106,0,0
1,src/java/org/apache/commons/cli/Options.java,aae50c585ec3ac33c6a9af792e80378904a73195,1,0,1,686,685,0,0
2,src/java/org/apache/commons/cli/HelpFormatter....,aae50c585ec3ac33c6a9af792e80378904a73195,1,0,1,342,337,0,0
3,src/java/org/apache/commons/cli/MissingArgumen...,aae50c585ec3ac33c6a9af792e80378904a73195,1,0,1,80,79,0,0
4,src/java/org/apache/commons/cli/UnrecognizedOp...,aae50c585ec3ac33c6a9af792e80378904a73195,1,0,1,81,80,0,0

In [2]:
df['class_commit_id'] = df['name'] + "_" + df['commit']
df.drop(df.columns[[0, 1]], axis=1, inplace=True)
df.drop_duplicates(inplace=True)
df

,number_of_authors,age,number_unique_changes,size,lines_added,lines_deleted,buggy,class_commit_id
0,1,0,1,118,106,0,0,src/test/org/apache/commons/cli/HelpFormatterE...
1,1,0,1,686,685,0,0,src/java/org/apache/commons/cli/Options.java_a...
2,1,0,1,342,337,0,0,src/java/org/apache/commons/cli/HelpFormatter....
3,1,0,1,80,79,0,0,src/java/org/apache/commons/cli/MissingArgumen...
4,1,0,1,81,80,0,0,src/java/org/apache/commons/cli/UnrecognizedOp...
...,...,...,...,...,...,...,...,...
1543,10,547258,45,777,2,2,0,src/main/java/org/apache/commons/cli/DefaultPa...
1544,9,608767,35,334,2,5,0,src/main/java/org/apache/commons/cli/Options.j...
1545,8,675352,49,939,1,1,0,src/main/java/org/apache/commons/cli/HelpForma...
1546,8,702291,19,193,0,1,0,src/main/java/org/apache/commons/cli/PatternOp...
1547,8,698505,29,358,1,1,0,src/main/java/org/apache/commons/cli/OptionBui...

In [3]:
df['id'] = pd.Categorical(df['class_commit_id']).codes
df

,number_of_authors,age,number_unique_changes,size,lines_added,lines_deleted,buggy,class_commit_id,id
0,1,0,1,118,106,0,0,src/test/org/apache/commons/cli/HelpFormatterE...,1534
1,1,0,1,686,685,0,0,src/java/org/apache/commons/cli/Options.java_a...,321
2,1,0,1,342,337,0,0,src/java/org/apache/commons/cli/HelpFormatter....,158
3,1,0,1,80,79,0,0,src/java/org/apache/commons/cli/MissingArgumen...,182
4,1,0,1,81,80,0,0,src/java/org/apache/commons/cli/UnrecognizedOp...,475
...,...,...,...,...,...,...,...,...,...
1543,10,547258,45,777,2,2,0,src/main/java/org/apache/commons/cli/DefaultPa...,1109
1544,9,608767,35,334,2,5,0,src/main/java/org/apache/commons/cli/Options.j...,1346
1545,8,675352,49,939,1,1,0,src/main/java/org/apache/commons/cli/HelpForma...,1151
1546,8,702291,19,193,0,1,0,src/main/java/org/apache/commons/cli/PatternOp...,1423
1547,8,698505,29,358,1,1,0,src/main/java/org/apache/commons/cli/OptionBui...,1278

In [4]:
df2 = df.drop(['class_commit_id'], axis=1)
df2

,number_of_authors,age,number_unique_changes,size,lines_added,lines_deleted,buggy,id
0,1,0,1,118,106,0,0,1534
1,1,0,1,686,685,0,0,321
2,1,0,1,342,337,0,0,158
3,1,0,1,80,79,0,0,182
4,1,0,1,81,80,0,0,475
...,...,...,...,...,...,...,...,...
1543,10,547258,45,777,2,2,0,1109
1544,9,608767,35,334,2,5,0,1346
1545,8,675352,49,939,1,1,0,1151
1546,8,702291,19,193,0,1,0,1423
1547,8,698505,29,358,1,1,0,1278

In [8]:
import csv

# name of csv file
filename = "dataset.csv"

# writing to csv file
# writing to csv file
df2.to_csv(filename, index=False)